.seo-h1 {
  font-size: 2.7rem;
}

.seo-p--mid {
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.3rem;
}

.seo-p--fat {
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
}
