:root {
  /* COLORS */
  --color-primary: #000;
  --color-secondary: #272727;
  --color-tertiary: #ffc72d;
  --color-tertiary-hover: #fab700;

  --color-highlight-primary: #51c2e7;
  --color-highlight-secondary: #ffc72d;
  --color-highlight-primary-hover: #1da6d3;

  --color-grey: #f5f5f5;
  --color-grey-v2: #7a7a7a;
  --color-light-grey: #d9d9d9;
  --color-light-v2-grey: #f5f5f6;

  --text-color: #010101;

  /* HEADER SPECIFIC */
  --header-height: 72px;
  --header-index: 100;

  /* BREAK POINTS */
  --mobile-brake-p: 780px;

  /* OTHERS */
  --initial-section-height: 41rem;
  --svg-banner-index: -2;
}
