/* COLORS */
var(--color-primary): #000;
var(--color-secondary): #272727;
var(--color-tertiary): #ffc72d;
var(--color-tertiary)_hover: #fab700;

var(--color-highlight-primary): #51c2e7;
var(--color-highlight-secondary): #ffc72d;
var(--color-highlight-primary)_hover: #1da6d3;

var(--color-grey): #f5f5f5;
var(--color-grey)_v2: #7a7a7a;
var(--color-light-grey): #d9d9d9;
var(--color-light-v2-grey): #f5f5f6;

var(--text-color): #010101;

/* HEADER SPECIFIC */

var(--header-height): 72px;
var(--header-index): 100;

/* BREAK POINTS */

$mobile: 780px;
$desktop: 1024px;
$xl-desktop: 1440px;

var(--mobile-brake-p): $mobile;

/* OTHERS */

var(--initial-section-height): 41rem;

var(--svg-banner-index): -2;
